{% extends 'base.html.twig' %}

{% block title %}User Dashboard
{% endblock %}

{% block body %}

	<div class="container">
		<h1>{{ controller_name }}! ✅</h1>
		<article>
			<p>Une fois l'utilisateur connecté, il a accès a cette page. Il a également accès a l'onglet profil ! On peut imaginer qu'il pourra y modifier ces informations (email et mot de passe en l'occurence).</p>
			    <br>
			<p>Etant donné qu'un utilisateur n'a pas le [ROLE_ADMIN], il ne pourra pas accèder au /register ni au /admin, qui contient le dashboard.
			</p>
                <br>
            <p>Fonctionnalités du site: </p>
                <li>Login / Register</li>
                <li>Double Auth (2FA)</li>
                <li>Forgotten Password Reset</li>
                <li>Mail Verifier at register</li>
                <li>Profile setting page</li>
                <li>[ROLE_ADMIN] Admin Dashboard /admin</li>
		</article>

	</div>
{% endblock %}

